<div class="row">
    <form #frm="ngForm" (ngSubmit)="save(frm)">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong *ngIf="!userProfileDTO.id">{{'User.addUser' |translate}}</strong>
                <strong *ngIf="userProfileDTO.id">{{'User.editUser' |translate}}</strong>
            </div>
            <div class="card-body card-block">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="firstName" class=" form-control-label">{{'User.FirstName' |translate}}</label>
                                    <input [(ngModel)]="userProfileDTO.firstName" type="text" id="firstName" class="form-control"
                                    #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched"
                                    [class.is-valid]="firstName.valid"  required minlength="3" name="firstName" aria-describedby="helpId">
                                    <small [hidden]="firstName.valid || firstName.untouched" id="helpId" class="text-muted"
                                    [translate]="'Errors.InvalidFirstName'"></small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="lastName" class=" form-control-label">{{'User.LastName' |translate}}</label>
                                    <input [(ngModel)]="userProfileDTO.lastName" type="text" id="lastName" class="form-control"
                                    #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched"
                                    [class.is-valid]="lastName.valid"  required minlength="3" name="lastName" aria-describedby="helpId">
                                    <small [hidden]="lastName.valid || lastName.untouched" id="helpId" class="text-muted"
                                    [translate]="'Errors.InvalidLastName'"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="mobile" class=" form-control-label">{{'User.Mobile' |translate}}</label>
                                    <input [(ngModel)]="userProfileDTO.mobile" type="text" id="mobile" class="form-control"
                                    #mobile="ngModel" [class.is-invalid]="mobile.invalid && mobile.touched"
                                    [class.is-valid]="mobile.valid"  required minlength="11" name="mobile" aria-describedby="helpId">
                                    <small [hidden]="mobile.valid || mobile.untouched" id="helpId" class="text-muted"
                                    [translate]="'Errors.InvalidMobile'"></small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="jobTitle" class=" form-control-label">{{'User.jobTitle' |translate}}</label>
                                    <input [(ngModel)]="userProfileDTO.jobTitle" type="text" id="jobTitle" class="form-control"
                                    #jobTitle="ngModel" [class.is-invalid]="jobTitle.invalid && jobTitle.touched"
                                    [class.is-valid]="jobTitle.valid"  required minlength="2" name="jobTitle"
                                    id="jobTitle" class="form-control"  aria-describedby="helpId">
                                <small [hidden]="jobTitle.valid || jobTitle.untouched" id="helpId" class="text-muted"
                                    [translate]="'Errors.InvalidJobTitle'"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="username" class=" form-control-label">{{'User.UserName' |translate}}</label>
                                    <input [(ngModel)]="userProfileDTO.userName" type="text" id="username" class="form-control"
                                    #username="ngModel" [class.is-invalid]="username.invalid && username.touched"
                                    [class.is-valid]="username.valid"  required minlength="3" name="userName"
                                    id="username" class="form-control"  aria-describedby="helpId">
                                <small [hidden]="username.valid || username.untouched" id="helpId" class="text-muted"
                                    [translate]="'Errors.InvalidUserName'"></small>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email" class=" form-control-label">{{'User.Email' |translate}}</label>
                                    <input [(ngModel)]="userProfileDTO.email" type="email" id="email" class="form-control"
                                    #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                                    [class.is-valid]="email.valid"  required minlength="8" name="email"
                                    id="email" class="form-control"  aria-describedby="helpId">
                                <small [hidden]="email.valid || email.untouched" id="helpId" class="text-muted"
                                    [translate]="'Errors.InvalidEmail'"></small>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="password" class=" form-control-label">Password</label>
                                    <input [(ngModel)]="userProfileDTO.password" type="password" id="lastName" class="form-control">
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="role" class=" form-control-label">{{'User.Role' |translate}}</label>
                                    <select name="role" id="select" class="form-control" [(ngModel)]="userProfileDTO.userTypeId">
                                        <option *ngFor="let usertype of userTypes" 
                                        [value]="usertype.value">{{usertype.label}}
                                      </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="image" class=" form-control-label">{{'User.UploadImage' |translate}}</label>
                                    <input type="file" id="image" class="form-control" (change)="onFileChange($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 mb-2" *ngIf="imageSrc">{{'User.Image' |translate}}</div>
                            <div class="col-lg-12">
                                <img  src="{{imageSrc}}" *ngIf="userProfileDTO.imageUrl" style="height: auto; width:100%">
                                <img  style="height: auto; width:100%" *ngIf="!userProfileDTO.imageUrl"  src="{{imageSrc}}"/>
                            </div>
                            <div class="col-lg-12"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container p-3">
                <button  type="submit" class="btn btn-outline-primary" [disabled]="frm.invalid">
                    <i class="fa fa-dot-circle-o"></i>{{'User.SaveChanges' |translate}} 
                </button>
                <button type="reset" class="btn btn-danger" (click)="cancel()">
                    <i class="fa fa-ban"></i>{{'User.Cancel' |translate}} 
                </button>
            </div>
        </div>
    </div>
</form>
</div>