<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>User</strong>
                <small> Form</small>
            </div>
            <div class="card-body card-block">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="firstName" class=" form-control-label">First Name</label>
                                    <input [(ngModel)]="userProfileDTO.firstName" type="text" id="firstName" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="lastName" class=" form-control-label">Last Name</label>
                                    <input [(ngModel)]="userProfileDTO.lastName" type="text" id="lastName" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="username" class=" form-control-label">Username</label>
                                    <input [(ngModel)]="userProfileDTO.userName" type="text" id="username" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="password" class=" form-control-label">Password</label>
                                    <input [(ngModel)]="userProfileDTO.password" type="password" id="lastName" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email" class=" form-control-label">Email</label>
                                    <input [(ngModel)]="userProfileDTO.email" type="text" id="firstName" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="role" class=" form-control-label">Role</label>
                                    <select name="role" id="select" class="form-control" [(ngModel)]="userProfileDTO.role">
                                        <option value="Admin">Admin</option>
                                        <option value="Consumer">Consumer</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="image" class=" form-control-label">Upload Image</label>
                                    <input type="file" id="image" class="form-control" (change)="onFileChange($event)">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button (click)="save()" type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm" (click)="cancel()">
                    <i class="fa fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>