label {
    float: right;
}

.menu-sidebar2 {
    right: 0;
}

@media (max-width: 991px) {
    .menu-sidebar2 {
        left: -300px;
        right: auto;
    }
    .menu-sidebar2.show-sidebar {
        left: 0;
    }
}

.header-desktop2 {
    left: 0;
    right: 300px;
}

@media (max-width: 991px) {
    .header-desktop2 {
        right: 0;
        position: relative;
    }
}

.setting-menu {
    left: -300px;
}

.show-sidebar {
    left: 0;
}

.setting-menu:before {
    left: 47px;
}

.header-button2 .header-button-item .notifi-dropdown {
    right: auto;
    left: -68px;
}

.header-button2 .header-button-item .notifi-dropdown::before {
    margin-right: 0;
    right: auto;
    left: 68px;
}

.header-button2 .header-button-item:last-child {
    margin-left: 0;
}

@media (max-width: 991px) {
    .header-button2 .header-button-item .search-dropdown {
        left: -75px;
    }
    .header-button2 .header-button-item .search-dropdown::before {
        left: 79px;
    }
}

@media (max-width: 991px) {
    .header-button2 .header-button-item .notifi-dropdown {
        left: -48px;
    }
    .header-button2 .header-button-item .notifi-dropdown::before {
        margin-right: 0;
        right: auto;
        left: 45px;
    }
}

.page-container2 {
    padding-right: 300px;
}

@media (max-width: 991px) {
    .page-container2 {
        position: relative;
        padding-right: 0;
    }
}

.navbar-sidebar2 .navbar__list li .arrow {
    left: 15px;
}

.inbox-num {
    left: 34px;
}

body {
    text-align: right;
}

i {
    margin-left: 5px;
}

.btn-search {
    float: left;
}
.hero p.intro {
    direction: ltr;
  
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
  }
  .hero .hero-content {
    padding-top: 15%;
    margin-right: 25%;
    margin-left: 0;
  }
  .imgLogo{
    margin-right: 20px;
}
.cardFormRequest{
    margin-left: 40px;
}
.borderFormRequest{
    border-radius: 0 1rem 1rem 0;
}