<section class=" hero">
    <button class=" btn btn-outline-primary ml-1" type="button">
        <app-change-langague></app-change-langague>
    </button>
    <div>
        <img src="assets/images/logo.jpeg" class="carImage" alt="UNDP" />
    </div>
    <div class="container py-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card mainCard">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="assets/images/Car.jpg" alt="login form" class="img-fluid borderFormRequest" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="row">
                                    <div class="login-logo col-md-6">
                                        <div class="imgLogoLogin">
                                            <img src="assets/images/logo.jpeg" alt="UNDP" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>{{'General.UnitedNationsDevelopmentProgramme' | translate}}</h3>
                                    </div>
                                </div>
                                <p>{{'Authentication.ForgottenPassword'|translate}}</p>
                                    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
                                        (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                                        <div class="form-group row">
                                            <label for="email"
                                                class="col-form-label col-md-12">{{'Authentication.EmailAddress'|translate}}</label>
                                            <div class="col-md-12">
                                                <input type="email" id="email" formControlName="email"
                                                    class="form-control" />
                                            </div>
                                            <div class="col-md-12">
                                                <em
                                                    *ngIf="validateControl('email') && hasError('email', 'required')">{{'Authentication.Emailisrequired'|translate}}</em>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <button type="submit" class="au-btn au-btn--block au-btn--green m-b-20"
                                                    [disabled]="!forgotPasswordForm.valid">{{'User.submit'|translate}}</button>
                                            </div>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>