<div class="page-content--bge5 hero">
    <div class="container">
        <app-change-langague></app-change-langague>
        <div>
            <div>
                <div class="row">
                    <div class="login-logo col-md-3">
                        <div class="imgLogoLogin">
                            <img src="assets/images/logo.jpeg" class="imgLogo" alt="UNDP" />
                        </div>
                        <!-- <svg>
                            <use xlink:href="/assets/images/icon/svg-icons.svg#icon-logo"></use>
                        </svg> -->
                    </div>
                </div>
                <div class="login-form">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <h2 >{{'Authentication.ForgotPassword' |translate}}</h2>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>

                        <!-- <div *ngIf="showError" class="alert alert-danger" role="alert">
                                {{errorMessage}}
                            </div> -->

                        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                            {{successMessage}}
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
                                    (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                                    <div class="form-group row">
                                        <label for="email"
                                            class="col-form-label col-md-12">{{'Authentication.EmailAddress'|translate}}</label>
                                        <div class="col-md-12">
                                            <input type="email" id="email" formControlName="email"
                                                class="form-control" />
                                        </div>
                                        <div class="col-md-12">
                                            <em
                                                *ngIf="validateControl('email') && hasError('email', 'required')">{{'Authentication.Emailisrequired'|translate}}</em>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <button type="submit"  class="au-btn au-btn--block au-btn--green m-b-20"
                                                [disabled]="!forgotPasswordForm.valid">{{'Authentication.SaveChanges'|translate}}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>