<div class="page-content--bge5" *ngIf="!isProfileComponent">
    <div class="container">
        <app-change-langague></app-change-langague>
        <div class="login-wrap">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <img src="/assets/images/icon/logo.png" alt="CoolAdmin">
                    </a>
                </div>
                <div class="login-form">
                    <div class="container card">
                        <div class="card-body">
                            <h1 class="card-title">{{'Authentication.ChangePassword' |translate}}</h1>
                            <!-- <div *ngIf="showError" class="alert alert-danger" role="alert">
                                <span [innerHTML]="errorMessage"></span>
                            </div> -->
                            <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                                {{'Authentication.YourpasswordhasbeenchangedPlease' |translate}} <a
                                    [routerLink]="['/login']">{{'Authentication.clickheretologin' |translate}}
                                </a>
                            </div>
                            <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
                                (ngSubmit)="resetPassword(resetPasswordForm.value)">
                                <div class="form-group row">
                                    <label for="password"
                                        class="col-form-label col-md-12">{{'Authentication.NewPassword'
                                        |translate}}</label>
                                    <div class="input-group col-md-12">
                                        <input [type]="fieldTextType ? 'text' : 'password'" id="password"
                                            formControlName="password" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa" [ngClass]="{
                                                  'fa-eye-slash': !fieldTextType,
                                                  'fa-eye': fieldTextType
                                                }" (click)="toggleFieldTextType()"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <em *ngIf="validateControl('password') && hasError('password', 'required')">{{'Authentication.NewPasswordisrequired'
                                            |translate}}</em>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirm"
                                        class="col-form-label col-md-12">{{'Authentication.ConfirmPassword'
                                        |translate}}</label>
                                    <div class="input-group col-md-12">
                                        <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm"
                                            formControlName="confirm" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa" [ngClass]="{
                                                  'fa-eye-slash': !repeatFieldTextType,
                                                  'fa-eye': repeatFieldTextType
                                                }" (click)="toggleRepeatFieldTextType()"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{'Authentication.Confirmationisrequired'
                                            |translate}}</em>
                                        <em *ngIf="hasError('confirm', 'mustMatch')">{{'Authentication.Passwordsmustmatch'
                                            |translate}}</em>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-1">
                                        <button type="submit" class="btn btn-info"
                                            [disabled]="!resetPasswordForm.valid">{{'Authentication.SaveChanges'
                                            |translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card pb-3" *ngIf="isProfileComponent">
    <div class="card-body">
        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group row">
                <label for="password" class="col-form-label col-md-12">{{'Authentication.NewPassword'
                    |translate}}</label>
                <div class="input-group col-md-6">
                    <input [type]="fieldTextType ? 'text' : 'password'" id="password" formControlName="password"
                        class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }" (click)="toggleFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">{{'Authentication.NewPasswordisrequired'
                        |translate}}</em>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm" class="col-form-label col-md-12">{{'Authentication.ConfirmPassword'
                    |translate}}</label>
                <div class="input-group col-md-6">
                    <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm" formControlName="confirm"
                        class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                          'fa-eye-slash': !repeatFieldTextType,
                          'fa-eye': repeatFieldTextType
                        }" (click)="toggleRepeatFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{'Authentication.Confirmationisrequired'
                        |translate}}</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">{{'Authentication.Passwordsmustmatch'
                        |translate}}</em>
                </div>
            </div>
            <div class="row flex-container pb-3">
                <button type="button" class="btn btn-danger"
                    (click)="CloseChangePassword()">{{'General.Cancel'|translate}}</button>
                <button type="submit" class="btn btn-outline-primary"
                    [disabled]="!resetPasswordForm.valid">{{'Authentication.SaveChanges'
                    |translate}}</button>
            </div>
        </form>
    </div>
</div>