<div class="page-content--bge5">
    <div class="container">
        <app-change-langague></app-change-langague>
        <div class="login-wrap">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <img src="/assets/images/icon/logo.png" alt="CoolAdmin">
                    </a>
                </div>
                <div class="login-form">
                    <div class="container card">
                        <div class="card-body">
                            <h1 class="card-title">Change Password</h1>

                            <div *ngIf="showError" class="alert alert-danger" role="alert">
                                <span [innerHTML]="errorMessage"></span>
                            </div>

                            <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                                Your password has been changed. Please <a [routerLink]="['/login']"> click here to log in.
                                </a>
                            </div>

                            <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
                                (ngSubmit)="resetPassword(resetPasswordForm.value)">


                                <!-- <div class="form-group row">
                                    <label for="oldPassword" class="col-form-label col-md-12">New Password:</label>
                                    <div class="input-group col-md-12">
                                        <input [type]="oldfieldTextType ? 'text' : 'oldPassword'" id="oldPassword"
                                            formControlName="oldPassword" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa" [ngClass]="{
                                                  'fa-eye-slash': !oldfieldTextType,
                                                  'fa-eye': oldfieldTextType
                                                }" (click)="toggleOldFieldTextType()"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <em *ngIf="validateControl('password') && hasError('password', 'required')">New Password
                                            is
                                            required</em>
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <label for="password" class="col-form-label col-md-12">New Password:</label>
                                    <div class="input-group col-md-12">
                                        <input [type]="fieldTextType ? 'text' : 'password'" id="password"
                                            formControlName="password" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa" [ngClass]="{
                                                  'fa-eye-slash': !fieldTextType,
                                                  'fa-eye': fieldTextType
                                                }" (click)="toggleFieldTextType()"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <em *ngIf="validateControl('password') && hasError('password', 'required')">New Password
                                            is
                                            required</em>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirm" class="col-form-label col-md-12">Confirm Password:</label>
                                    <div class="input-group col-md-12">
                                        <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm"
                                            formControlName="confirm" class="form-control" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa" [ngClass]="{
                                                  'fa-eye-slash': !repeatFieldTextType,
                                                  'fa-eye': repeatFieldTextType
                                                }" (click)="toggleRepeatFieldTextType()"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation
                                            is
                                            required</em>
                                        <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-1">
                                        <button type="submit" class="btn btn-info"
                                            [disabled]="!resetPasswordForm.valid">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>