<!-- *ngIf="!isProfileComponent" -->
<section class=" hero" *ngIf="!isProfileComponent">
    <button class=" btn btn-outline-primary ml-1" type="button">
        <app-change-langague></app-change-langague>
    </button>
    <div>
        <img src="assets/images/logo.jpeg" class="carImage" alt="UNDP" />
    </div>
    <div class="container py-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card mainCard">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="assets/images/Car.jpg" alt="login form" class="img-fluid borderFormRequest" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="row">
                                    <div class="login-logo col-md-6">
                                        <div class="imgLogoLogin">
                                            <img src="assets/images/logo.jpeg" alt="UNDP" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <h3>{{'General.UnitedNationsDevelopmentProgramme' | translate}}</h3>
                                        </div>
                                        <!-- <div class="col-md-12">
                                            <h4>{{'Authentication.ChangePassword' | translate}}</h4>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="login-form">
                                    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
                                        (ngSubmit)="resetPassword(resetPasswordForm.value)">
                                        <div class="form-group col-md-12">
                                            <label for="password"
                                                class="col-form-label col-md-12">{{'Authentication.NewPassword'
                                                |translate}}</label>
                                            <div class="input-group col-md-12">
                                                <input [type]="fieldTextType ? 'text' : 'password'" id="password"
                                                    formControlName="password" class="form-control" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa" [ngClass]="{
                                                  'fa-eye-slash': !fieldTextType,
                                                  'fa-eye': fieldTextType
                                                }" (click)="toggleFieldTextType()"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <em
                                                    *ngIf="validateControl('password') && hasError('password', 'required')">{{'Authentication.NewPasswordisrequired'
                                                    |translate}}</em>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="confirm"
                                                class="col-form-label col-md-12">{{'Authentication.ConfirmPassword'
                                                |translate}}</label>
                                            <div class="input-group col-md-12">
                                                <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm"
                                                    formControlName="confirm" class="form-control" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa" [ngClass]="{
                                                  'fa-eye-slash': !repeatFieldTextType,
                                                  'fa-eye': repeatFieldTextType
                                                }" (click)="toggleRepeatFieldTextType()"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <em
                                                    *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{'Authentication.Confirmationisrequired'
                                                    |translate}}</em>
                                                <em *ngIf="hasError('confirm', 'mustMatch')">{{'Authentication.Passwordsmustmatch'
                                                    |translate}}</em>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-md-12">
                                            <button type="submit" class=" btn btn-outline-primary ml-1 col-md-12"
                                                [disabled]="!resetPasswordForm.valid">{{'Authentication.SaveChanges'|translate}}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="card pb-3" *ngIf="isProfileComponent">
    <div class="card-body">
        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group row">
                <label for="password" class="col-form-label col-md-12">{{'Authentication.NewPassword'
                    |translate}}</label>
                <div class="input-group col-md-6">
                    <input [type]="fieldTextType ? 'text' : 'password'" id="password" formControlName="password"
                        class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }" (click)="toggleFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">{{'Authentication.NewPasswordisrequired'
                        |translate}}</em>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm" class="col-form-label col-md-12">{{'Authentication.ConfirmPassword'
                    |translate}}</label>
                <div class="input-group col-md-6">
                    <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm" formControlName="confirm"
                        class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                          'fa-eye-slash': !repeatFieldTextType,
                          'fa-eye': repeatFieldTextType
                        }" (click)="toggleRepeatFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">{{'Authentication.Confirmationisrequired'
                        |translate}}</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">{{'Authentication.Passwordsmustmatch'
                        |translate}}</em>
                </div>
            </div>
            <div class="row flex-container pb-3">
                <button type="button" class="btn btn-danger"
                    (click)="CloseChangePassword()">{{'General.Cancel'|translate}}</button>
                <button type="submit" class="btn btn-outline-primary"
                    [disabled]="!resetPasswordForm.valid">{{'Authentication.SaveChanges'
                    |translate}}</button>
            </div>
        </form>
    </div>
</div>