<!-- MENU SIDEBAR-->
<aside class="menu-sidebar2">
    <div class="logo">
        <a href="#">
            <img src="assets/images/logo.jpeg" alt="UNDP" style="height: 60px;width: 100%;"/>
        </a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
        <div class="account2">
            <div class="text-center" >
                <img class="image img-cir img-150 img-fluid" *ngIf="authService.loggedUserProfile?.imageUrl" src="{{serverUrl}}/wwwroot/Images/Users/{{authService.loggedUserProfile?.imageUrl}}" />
                <img class="image img-cir img-150 img-fluid" *ngIf="!authService.loggedUserProfile?.imageUrl" src="assets/images/icon/avatar-big-01.jpg" />
            </div>
            <h4 class="name">{{authService.loggedUserProfile?.firstName}} {{authService.loggedUserProfile?.lastName}}
            </h4>
            <a class="btn-link" (click)='logOut()'>Sign out</a>
        </div>
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a [routerLink]="['/dashboard']">
                        <i class="fas fa-chart-bar"></i><span translate>SideMenu.Dashboard</span> </a>
                    <!-- <span class="inbox-num">3</span> -->
                </li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-users"></i> <span translate>SideMenu.UserManagement</span>
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a [routerLink]="['/user/user-list']">
                                <i class="fas fa-user"></i><span translate>SideMenu.UserList</span></a>
                        </li>
                    </ul>
                </li>

                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-users"></i> <span translate>SideMenu.FleetManagement</span>
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a [routerLink]="['/fleet-management/car-request-list']">
                                <i class="fas fa-fleet"></i><span translate>SideMenu.CarRequestInbox</span></a>
                        </li>

                        <li>
                            <a [routerLink]="['/fleet-management/car-request-list/'+authService?.loggedUserProfile?.id]">
                                <i class="fas fa-fleet"></i><span translate>SideMenu.CarRequestMyInbox</span></a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>Clients</a>
                </li>


                <li>
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>Subscribtion</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>Registration</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>Expenses</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>Safe</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>Reports</a>
                </li>


            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->