<div class="page-content--bge5">
    <div class="container">
        <app-change-langague></app-change-langague>
        <div class="login-wrap">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <img src="/assets/images/icon/logo.png" alt="CoolAdmin">
                    </a>
                </div>
                <div class="login-form">
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                        <div class="form-group">
                            <label translate>Authentication.Username</label>
                            <input class="au-input au-input--full" ngModel type="text" name="userName" placeholder="{{'Authentication.Username' |translate}}">
                        </div>
                        <div class="form-group">
                            <label translate>Authentication.Password</label>
                            <input class="au-input au-input--full" ngModel type="password" name="password" placeholder="{{'Authentication.Password' |translate}}">
                        </div>
                        <div class="login-checkbox">
                            <label> <input type="checkbox" name="remember">{{'Authentication.RememberMe' |translate}}
                            </label>
                            <label> <a [routerLink]="['/forgotpassword']" >{{'Authentication.ForgottenPassword' |translate}}</a></label>
                        </div>
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" translate>Authentication.LogIn</button>
                        <!-- <div class="social-login-content">
                            <div class="social-button">
                                <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                                <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
                            </div>
                        </div> -->
                    </form>
                    <div class="register-link">
                        <p>
                            <span translate>Authentication.DoNotYouHaveAccount</span>
                            <a [routerLink]="['/register']" translate>Authentication.SignUpHere</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>