<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li *ngIf="!ischangePassword && !edit" class="breadcrumb-item active" aria-current="page">
                            {{'User.UserProfile' |translate}} </li>
                        <li *ngIf="ischangePassword" class="breadcrumb-item active" aria-current="page">
                            {{'Authentication.ChangePassword' |translate}} </li>
                        <li *ngIf="edit" class="breadcrumb-item active" aria-current="page">{{'User.EditProfile'
                            |translate}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 pb-4">
                    <div class="card-body text-center">
                        <img *ngIf="imageUrl != null" src="{{imageSrc}}"
                            class="image img-cir img-150 img-fluid">
                        <img *ngIf="imageUrl ==  null" class="image img-cir img-150 img-fluid"
                        src="{{imageSrc}}" />
                        <input *ngIf="edit" type="file" id="image" class="form-control" (change)="onFileChange($event)">

                        <h5 class="my-3">{{profile.firstName}} {{profile.lastName}}</h5>
                        <p class="mb-1" *ngIf="!edit">{{profile.jobTitle}}</p>
                            <input *ngIf="edit" [(ngModel)]="profile.jobTitle" type="text" id="jobTitle" class="form-control mb-2"
                            #jobTitle="ngModel" [class.is-invalid]="jobTitle.invalid && jobTitle.touched"
                            [class.is-valid]="jobTitle.valid"  required minlength="2" name="jobTitle" aria-describedby="helpId">
                        <!-- <small *ngIf="edit" [hidden]="jobTitle.valid || jobTitle.untouched" id="helpId" class="text-muted"
                            [translate]="'Errors.InvalidJobTitle'"></small> -->

                        <!-- <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
                        <div class="d-flex justify-content-center mb-2" *ngIf="!ischangePassword">
                            <!-- <button type="button" class="btn btn-primary">Follow</button> -->
                            <button type="button" class="btn btn-outline-primary ms-1"
                                (click)="changePassword()">{{'Authentication.ChangePassword' |translate}} </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" *ngIf="!ischangePassword">
                <form #frm="ngForm" (ngSubmit)="save(frm)">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> {{'User.FullName' |translate}}</p>
                            </div>
                            <div class="col-sm-4" *ngIf="edit">
                                <div class="form-group pb-2">
                                    <input [(ngModel)]="profile.firstName" type="text" id="firstName"
                                        class="form-control" #firstName="ngModel"
                                        [class.is-invalid]="firstName.invalid && firstName.touched"
                                        [class.is-valid]="firstName.valid" required minlength="3" name="firstName"
                                        aria-describedby="helpId">
                                    <small [hidden]="firstName.valid || firstName.untouched" id="helpId"
                                        class="text-muted" [translate]="'Errors.InvalidFirstName'"></small>
                                </div>
                            </div>
                            <div class="col-sm-1" *ngIf="edit"></div>
                            <div class="col-sm-4" *ngIf="edit">
                                <div class="form-group pb-2">
                                    <input [(ngModel)]="profile.lastName" type="text" id="lastName" class="form-control"
                                        #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched"
                                        [class.is-valid]="lastName.valid" required minlength="3" name="lastName"
                                        aria-describedby="helpId">
                                    <small [hidden]="lastName.valid || lastName.untouched" id="helpId"
                                        class="text-muted" [translate]="'Errors.InvalidLastName'"></small>
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="!edit">
                                <p class=" mb-0">{{profile.firstName}} {{profile.lastName}}</p>
                            </div>
                        </div>
                        <hr *ngIf="!edit">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{{'User.UserName' |translate}}</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group pb-2" *ngIf="edit">
                                    <input [(ngModel)]="profile.userName" type="text" id="username" class="form-control"
                                        #username="ngModel" [class.is-invalid]="username.invalid && username.touched"
                                        [class.is-valid]="username.valid" required minlength="3" name="userName"
                                        id="username" class="form-control" aria-describedby="helpId">
                                    <small [hidden]="username.valid || username.untouched" id="helpId"
                                        class="text-muted" [translate]="'Errors.InvalidUserName'"></small>
                                </div>
                                <p class=" mb-0" *ngIf="!edit">{{profile.userName}}</p>
                            </div>
                        </div>
                        <hr *ngIf="!edit">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{{'User.Email' |translate}}</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group pb-2" *ngIf="edit">
                                    <input [(ngModel)]="profile.email" type="email" id="email"
                                        class="form-control" #email="ngModel"
                                        [class.is-invalid]="email.invalid && email.touched"
                                        [class.is-valid]="email.valid" required minlength="8" name="email" id="email"
                                        class="form-control" aria-describedby="helpId">
                                    <small [hidden]="email.valid || email.untouched" id="helpId" class="text-muted"
                                        [translate]="'Errors.InvalidEmail'"></small>
                                </div>
                                <p class=" mb-0" *ngIf="!edit">{{profile.email}}</p>
                            </div>
                        </div>
                        <hr *ngIf="!edit">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{{'User.Mobile' |translate}}</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group pb-2" *ngIf="edit">
                                    <input [(ngModel)]="profile.mobile" type="text" id="mobile"
                                        class="form-control" #mobile="ngModel"
                                        [class.is-invalid]="mobile.invalid && mobile.touched"
                                        [class.is-valid]="mobile.valid" required minlength="11" name="mobile"
                                        aria-describedby="helpId">
                                    <small [hidden]="mobile.valid || mobile.untouched" id="helpId" class="text-muted"
                                        [translate]="'Errors.InvalidMobile'"></small>
                                </div>
                                <p class="mb-0" *ngIf="!edit">{{profile.mobile}}</p>
                            </div>
                        </div>
                        <hr *ngIf="!edit">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{{'User.Role' |translate}}</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group pb-2" *ngIf="edit">
                                    <select name="role" id="select" class="form-control" [(ngModel)]="profile.userTypeId">
                                        <option *ngFor="let usertype of userTypes" 
                                        [value]="usertype.value">
                                        {{'userTypeEnum.'+usertype.label |translate}}
                                      </option>
                                    </select>
                                </div>
                                <p class="mb-0" *ngIf="!edit">{{'userTypeEnum.'+profile.role |translate}}</p>
                            </div>
                        </div>
                        <div class="row" *ngIf="!edit">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-outline-primary ml-4" (click)="EditProfile()">
                                    {{'User.EditProfile' |translate}}
                                </button>
                            </div>
                        </div>

                        <div class="row flex-container pb-3" *ngIf="edit">
                            <!-- <div class="col-sm-8"></div> -->
                            <button type="button" class="btn btn-danger"
                                (click)="close()">{{'General.Cancel'|translate}}</button>

                            <button type="submit" [disabled]="frm.invalid" class="btn btn-outline-primary" > {{'User.SaveChanges'
                                |translate}}</button>
                        </div>
                    </div>
                </div>
                </form>
                <!-- <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
            </div>
            <div class="col-lg-8" *ngIf="ischangePassword">
                <app-reset-password [isProfileComponent]="true" (closeChangePasswordCard)="closeChangePasswordCard()"
                    [data]="resetPassDto"></app-reset-password>
            </div>
        </div>
    </div>
</section>