<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35"><span>{{'FleetManagement.RequestReviewFormInbox'|translate}}</span></h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn-filter" (click)="toggleFilter()">
                    <i class="zmdi zmdi-filter-list"></i>filters</button>
            </div>
            <div class="table-data__tool-right">
                <button [routerLink]="['/fleet-management/car-request-form']" class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>add item
                </button>
            </div>
        </div>

        <!--Filters-->
        <div class="row" *ngIf="showFilterControls">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Filters</div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="dateFrom" class=" form-control-label">{{'FleetManagement.DateFrom'|translate}}</label>
                                        <input [(ngModel)]="carRequestSearchCrieria.dateFrom" type="datetime-local" id="dateFrom" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="dateTo" class=" form-control-label">{{'FleetManagement.DateTo'|translate}}</label>
                                        <input [(ngModel)]="carRequestSearchCrieria.dateTo" type="datetime-local" id="dateTo" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="requesterName" class=" form-control-label">{{'FleetManagement.RequesterName'|translate}}</label>
                                        <input [(ngModel)]="carRequestSearchCrieria.requesterName" type="text" id="requesterName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="requesterEmail" class=" form-control-label">{{'FleetManagement.RequesterEmail'|translate}}</label>
                                        <input [(ngModel)]="carRequestSearchCrieria.requesterEmail" type="text" id="requesterEmail" class="form-control">
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="pickUp" class=" form-control-label">{{'FleetManagement.PickUp'|translate}}</label>
                                        <input [(ngModel)]="carRequestSearchCrieria.pickUp" type="text" id="pickUp" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="destination" class=" form-control-label">{{'FleetManagement.Destination'|translate}}</label>
                                        <input [(ngModel)]="carRequestSearchCrieria.destination" type="text" id="destination" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="comments" class=" form-control-label">{{'FleetManagement.Comments'|translate}}</label>
                                        <input [(ngModel)]="carRequestSearchCrieria.comments" type="text" id="comments" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="purpose" class=" form-control-label">{{'FleetManagement.Purpose'|translate}}</label>
                                        <input [(ngModel)]="carRequestSearchCrieria.purpose" type="text" id="purpose" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12">
                            <button (click)="search()" class="au-btn au-btn-icon au-btn--blue au-btn--small btn-search">
                                <i class="zmdi zmdi-search"></i>Search
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--End Filters-->

        <!--DATA TABLE -->
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="table-header-bc">
                    <tr>
                        <th class="table-header-fc">
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </th>
                        <th class="table-header-fc">{{'FleetManagement.RequestID' |translate}}</th>
                        <th class="table-header-fc">{{'FleetManagement.RequestStatus' |translate}}</th>
                        <th class="table-header-fc">{{'FleetManagement.StartingTime' |translate}}</th>
                        <th class="table-header-fc">{{'FleetManagement.EndingTime' |translate}}</th>
                        <th class="table-header-fc">{{'FleetManagement.RequesterName' |translate}}</th>
                        <th class="table-header-fc">{{'FleetManagement.RequesterEmail' |translate}}</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow" *ngFor="let item of carRequestList">
                        <td>
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </td>
                        <td>34234</td>
                        <td>
                            <span *ngIf="item.carRequestStatusId==carRequestStatusEnum.InProgress" class="status-in-progress">
                                {{'CarRequestStatusEnum.InProgress'|translate}}</span>
                            <span *ngIf="item.carRequestStatusId==carRequestStatusEnum.Approved" class="status-approved">
                                {{'CarRequestStatusEnum.Approved'|translate}}</span>
                        </td>
                        <td>{{item.dateFrom}}</td>
                        <td>{{item.dateTo}}</td>
                        <td>{{item.requesterName}}</td>
                        <td>{{item.requesterEmail}}</td>
                        <!--Test-->
                        <td>
                            <div class="table-data-feature">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="{{'FleetManagement.AssignToMe'|translate}}" data-original-title="Send" (click)="assignToMe(item)">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </button>
                                <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" [routerLink]="['/user/user-form/'+item.id]">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" (click)="openConfirmationDialog(item)">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="More">
                                    <i class="zmdi zmdi-more"></i>
                                </button> -->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <app-pagination (pageChange)="onPageChange($event)" [totalRecordsCount]="total" [recordsPerPage]="carRequestSearchCrieria.pageSize" *ngIf="carRequestList">
            </app-pagination>

        </div>
        <!-- END DATA TABLE -->
    </div>
</div>