<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">
            <span>{{'Cars.Cars'|translate}}</span>
        </h3>
        
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn-filter" (click)="toggleFilter()">
                    <i class="zmdi zmdi-filter-list"></i>{{'General.Filter'|translate}}</button>
            </div>
            <div class="table-data__tool-right">
                <button   [routerLink]="['/car/car-form']"  class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i> {{'Cars.NewCar'|translate}}
                </button>
            </div>
        </div>

        <!--Filters-->
        <div class="row" *ngIf="showFilterControls">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">{{'General.Filters'|translate}}</div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="cardBrand"
                                            class="form-control-label">{{'Cars.carBrand'|translate}}</label>
                                        <input [(ngModel)]="carSearchCrieria.carBrand" type="text" id="carBrand"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="carModel"
                                            class=" form-control-label">{{'Cars.carModel'|translate}}</label>
                                        <input [(ngModel)]="carSearchCrieria.carModel" type="text" id="carModel"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="carNumber"
                                            class=" form-control-label">{{'Cars.carNumber'|translate}}</label>
                                        <input [(ngModel)]="carSearchCrieria.carNumber" type="text" id="carNumber"
                                            class="form-control">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-12">
                            <button (click)="search()" class="au-btn au-btn-icon au-btn--blue au-btn--small btn-search">
                                <i class="zmdi zmdi-search"></i>{{'General.Search'|translate}}
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--End Filters-->

        <!--DATA TABLE -->
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="table-header-bc">
                    <tr>
                        <th class="table-header-fc">

                        </th>
                        <th class="table-header-fc">{{'Cars.carBrand' |translate}}</th>
                        <th class="table-header-fc">{{'Cars.carModel' |translate}}</th>
                        <th class="table-header-fc">{{'Cars.carNumber' |translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow" *ngFor="let item of carList">
                        <td>
                        </td>
                        <td>{{item.carBrand}}</td>
                        <td>{{item.carNumber}}</td>
                        <td>{{item.carModel}}</td>
                        <td>
                            <div class="table-data-feature" >
                                <button  class="item" data-toggle="tooltip" data-placement="top" title="{{'FleetManagement.AssignToMe'|translate}}" data-original-title="Send" >
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <button  class="item" data-toggle="tooltip" data-placement="top" title="{{'FleetManagement.AssignToMe'|translate}}" data-original-title="Send" >
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <app-pagination (pageChange)="onPageChange($event)" [totalRecordsCount]="total"
                [recordsPerPage]="carSearchCrieria.pageSize" *ngIf="carList">
            </app-pagination>

        </div>
        <!-- END DATA TABLE -->
    </div>
</div>