<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">{{'User.Users' |translate}}</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn-filter" (click)="toggleFilter()">
                    <i class="zmdi zmdi-filter-list"></i>{{'General.Filter'|translate}}</button>
            </div>
            <div class="table-data__tool-right">
                <button [routerLink]="['/user/user-form']" class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>{{'User.addUser' |translate}}
                </button>
            </div>
        </div>
        <!--Filters-->
        <div class="row" *ngIf="showFilterControls">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">{{'General.Filters'|translate}}</div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="firstName" class=" form-control-label">{{'User.FirstName'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.firstName" type="text" id="firstName"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="lastName" class=" form-control-label">{{'User.LastName'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.lastName" type="text" id="lastName"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="email" class=" form-control-label">{{'User.Email'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.email" type="email"
                                            id="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="mobile" class=" form-control-label">{{'User.Mobile'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.mobile" type="number" id="mobile"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="UserName" class=" form-control-label">{{'User.UserName'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.userName" type="text" id="UserName"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="jobTitle" class=" form-control-label">{{'User.jobTitle'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.jobTitle" type="text" id="jobTitle"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="role" class=" form-control-label">{{'User.Role' |translate}}</label>
                                        <select name="role" id="select" class="form-control" [(ngModel)]="searchCriteriaDTO.userTypeId">
                                            <option *ngFor="let usertype of userTypes" 
                                            [value]="usertype.value">{{usertype.label}}
                                          </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button (click)="search()" class="au-btn au-btn-icon au-btn--blue au-btn--small btn-search">
                                <i class="zmdi zmdi-search"></i>{{'General.Search'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Filters-->
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="table-header-bc">
                    <tr>
                        <th></th>
                        <!-- <th class="table-header-fc">
                             <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label> 
                        </th>-->
                        <th class="table-header-fc">{{'User.Image' |translate}}</th>
                        <th class="table-header-fc">{{'User.Name' |translate}}</th>
                        <th class="table-header-fc">{{'User.Mobile' |translate}}</th>
                        <th class="table-header-fc">{{'User.Email' |translate}}</th>
                        <th class="table-header-fc">{{'User.UserName' |translate}}</th>
                        <th class="table-header-fc">{{'User.Role' |translate}}</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow" *ngFor="let item of userList">
                        <td></td>
                        <td>
                            <img *ngIf="item.imageUrl" src="{{serverUrl}}/wwwroot/Images/Users/{{item.imageUrl}}"
                                class="image img-cir img-40 img-fluid">
                            <img class="image img-cir img-40 img-fluid" *ngIf="!item.imageUrl"
                                src="assets/images/icon/avatar-big-01.jpg" />
                        </td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.mobile}}</td>
                        <td>
                            <span class="block-email">{{item.email}}</span>
                        </td>
                        <td class="desc">{{item.userName}}</td>
                        <td>{{item.role}}</td>

                        <!-- <td>2018-09-27 02:12</td>
                        <td>
                            <span class="status--process">Processed</span>
                        </td> -->
                        <!-- <td>$679.00</td> -->
                        <td>
                            <div class="table-data-feature">
                                <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Send">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </button> -->
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Edit" [routerLink]="['/user/user-form/'+item.id]">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Delete" (click)="openConfirmationDialog(item)">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                                <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="More">
                                    <i class="zmdi zmdi-more"></i>
                                </button> -->
                            </div>
                        </td>
                    </tr>
                </tbody>
       
            </table>
            <app-pagination (pageChange)="onPageChange($event)" [totalRecordsCount]="total" [recordsPerPage]="searchCriteriaDTO.pageSize" *ngIf="userList">
            </app-pagination>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>