<!-- <div mat-dialog-content>
    <h3 class="page-title" translate>Database Backup</h3>
    <div class="panel">
        <div class="panel-body">
            <form #databaseForm="ngForm" (ngSubmit)="backupdDatabase(databaseForm)">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" id="DatabaseName" name="DatabaseName" [(ngModel)]="databaseModel.DatabaseName" class="form-control" placeholder="{{ 'DatabaseName' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" id="FilePath" name="FilePath" [(ngModel)]="databaseModel.FilePath" class="form-control" placeholder="{{ 'FilePath' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" id="ConnectionString" name="ConnectionString" class="form-control" [(ngModel)]="databaseModel.ConnectionString"
                            placeholder="{{ 'ConnectionString' | translate }}">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" [disabled]="clicked" (click)="backupdDatabase(databaseForm);clicked=true" [mat-dialog-close]="true"
                            translate>Yes</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-warning" (click)="hide()" translate>No</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div> -->